*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 50%;
    text-align: center;
    align-content: center;
    grid-template-columns: repeat(7, 1fr);
}
p{
    max-width: 200px;
    grid-row: 1/6;
}